@import url('https://fonts.googleapis.com/css?family=Playfair:regular,600,900,italic&display=swap');

.text__grey {
   color: #8080807f;
}
body {
   color: rgb(128, 128, 128);
   font-family: 'Playfair', sans-serif;
   font-weight: 400;
   font-size: 16px;
   line-height: 1.2;
}
._container {
   max-width: 90%;
   margin: 0px auto;
}
.text__bold {
   font-weight: 900;
}

.grey__icon {
   width: 18px;
   height: 18px;
   filter: invert(58%) sepia(4%) saturate(5%) hue-rotate(331deg) brightness(86%) contrast(98%);
}
/* ---------------------------HEADER */
.header__git {
   padding: 20px 0;
}
.header .navbar-toggler {
   border: transparent !important;
}
.header__img {
   max-width: 100%;
   
}
.header__img img {
   display: block;
   width: 100%;
   object-fit: cover;
}
/* ------------------------------CARDS */
.card {
   border: transparent !important;
}
.card-body {
   padding-left: 0;
   padding-right: 0;
}
.card__text {
   color: rgb(128, 128, 128) !important;
}
/* --------------------------------SIGN-UP */
.sign__input {
   border-bottom: 1px solid #000;
   
}

.sign__label {
   position: relative;
   width: 400px;
   margin: 0px auto;
}
.sign__label::after {
   content: '';
   background-image: url('../img/send.png');
   position: absolute;
   width: 30px;
   height: 30px;
   right: 5px;
   top: 0;
   display: inline-block;
}
.btn-outline-secondary {
   border-radius: 0;
}
@media (max-width: 500px){
   .sign__label {
      width: 90%;
   }
}

.nav-link:hover{
   transform: scale(1.2);
   transition: all 0.3s ease 0s;
}
.getaway__link:hover {
   color: rgba(19, 18, 18, 0.497) !important;
   font-weight: 600;
   transition: all 0.3s ease 0s;
}
.sign__label:hover::after {
   right: -5px;
   top: -10px;
   transition: all 0.3s ease 0s;
}
.footer {
   font-size: 24px;
}
.footer__link {
   width: 20px;
   height: 20px;
   display: inline-block;
}
@media (max-width: 768px){
   .footer {
      font-size: 20px;
   }
}
.card__text_italic {
   font-style: italic;
}
@media (max-width: 992px){
   .sidebar {
      display: none;
   }
}
.style__disc::before {
   content: '';
   width: 3px;
   height: 3px;
   margin-top: 8px;
   margin-right: 7px;
   display: inline-block;
   background-color: rgb(128, 128, 128);
}
ul {
   padding-left: 5px !important;
}
.sidebar__baner{
   background-color: #0000005c;
   
}